html{
	scroll-behavior: smooth;
}

body{
	background-color: #FAFAFA;
	/* font-family: "arial", cursive, sans-serif;*/
  	letter-spacing: 1.25px;
  	transition: background 0.2s linear; 
}
/*nightmode css*/
body.dark{
	background-color: #303030;
}
body.dark a{
	color: #D3D3D3;
}
body.dark h1{
	color: #D3D3D3;
}
body.dark h5{
	color: #D3D3D3;
}
body.dark p{
	color: #D3D3D3;
}

/*end night mode css*/

.container-fluid{
	padding: 50px 50px 10px 50px; 
	/*border: 1px solid blue;*/
}

a:link, a:visited, a:visited:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  color       : black;
  text-decoration: none;
}

a:hover, a:visited:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  color       : peru;
  text-decoration: none;
}
.navbar-template{
	/*border: 1px solid red;*/
	padding: 0px 0px 0px 0px;
	position: fixed;
}
.menu{
	/*border: 1px solid red;*/
	height: auto;
	padding-bottom: 20px;
	padding-left: 0px;
	font-size: 11px;
	font-weight: 300;
}

/* nightmode css */
.nightmode{
	margin-top: 0px;
	margin-left: 17.5px;
}

.checkbox{
	opacity: 0;
}

.checkbox:checked + .label .ball{
	transform: translateX(25px);
}


.label{
	background-color: Grey;
	display: flex;
	justify-content: space-around;
	border-radius: 50px;
	height: 25px;
	width: 30px;
	position: relative;
	padding: 2.5px;
}

.moon,.sun{
	height: 20px;
	display: flex;
}

/* end dark mode css */

.body{
    /*border: 1px solid red;*/	
	height: auto;
}

.carousel_div{
	/* border: 1px solid black; */
	height: auto;
	padding: 0px 20px 0px 20px;
}
.project_footer{
	padding-left: 20px;
}
.project_footer p{
	font-size: 10px;
}
#carousel1 img{
	opacity: 0.8;
}

#carousel1 p{
	border-radius: 15px;
	font-weight: 300;
	font-size: 11px;
	color:  #FAFAFA;
	background-color:#404040;
	padding: 5px;
	text-shadow: rgba(0,0,0,0.5) 0 0 10px;
}

#carousel2 img{
	opacity: 1;
}

#carousel2 p{
	font-weight: 300;
	font-size: 11px;
	color: #FAFAFA;
	background-color:none;
	padding: 8px;
	border-radius: 10px;
}

#whiteback p{
	font-weight: 300;
	font-size: 11px;
	color: black;
	background-color:none;
	padding: 8px;
	border-radius: 10px;
}

#carousel2-1 img{
	opacity: 1;
}

#carousel2-1 p{
	font-weight: 300;
	font-size: 12px;
	color: black;
	background-color:#FAFAFA;
	padding: 5px;
	border-radius: 10px;
}

#carousel3 img{
	opacity: 1;
}

#carousel3 p{
	font-weight: 300;
	font-size: 11px;
	color:  #FAFAFA;
	background-color:#303030;
	padding: 3px;
	border-radius: 10px;
	width: auto;
	margin: 0px;
}

.d-md-block{
	width: auto;

}

.scrollspy{
	/* border: 1px solid black; */
	padding: 0px 20px 0px 20px;
	background: none;
	width: 75%;
}
.jumbotron-fluid{
	background: none;
	margin: 0px;
	padding: 50px 0px 20px 0px;
}
.jumbotron-fluid1{
	background: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}
.display-4{
	background: none;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 5px;
}

.lead{
	background: none;
	font-size: 12px;
	font-weight: 300;
}
.siteFooter{
	padding-top: 50px;
	font-size: 10px;
}
.education_div{
	/* border: 1px solid black; */
	height: auto;
	width: 100%;
	padding: 10px 20px 25px 25px;
}
.education_div img{
	border-radius: 25%;
}

.media{
	width: 90%;
}
.media-body h5{
	color: black ;
	font-size: 15px;
	font-weight: 300;
}
.media-body p{
	color: black;
	font-size: 12px;
	font-weight: 300;
	margin: 0px;
}

.samples{
	font-size: 16px;
	padding-left: 20px;
	font-weight: 300;
}

.space_row{
	height: 25px;
}







