html{
	scroll-behavior: smooth;
}

body{
	background-color: #FAFAFA;
  	letter-spacing: 0.5px;
  	transition: background 0.2s linear; 
}
/*nightmode css*/
body.dark{
	background-color: #303030;
}
body.dark a{
	color: #D3D3D3;
}
body.dark h1{
	color: #D3D3D3;
}
body.dark h5{
	color: #D3D3D3;
}
body.dark p{
	color: #D3D3D3;
}
/*end night mode css*/


.container-fluid{
	padding: 50px 50px 10px 50px; 
	/*border: 1px solid blue;*/
}
.menu{
	/*border: 1px solid red;*/
	height: auto;
	padding-bottom: 20px;
	padding-left: 30px;
	font-size: 11px;
	font-weight: 300;
}
.navbar-template{
	/*border: 1px solid red;*/
	padding: 0px 0px 0px 0px;
	position: fixed;
}

/* nightmode css */
.nightmode{
	margin-top: 0px;
	margin-left: 17.5px;
}
.checkbox{
	opacity: 0;
}
.checkbox:checked + .label .ball{
	transform: translateX(25px);
}
.label{
	background-color: Grey;
	display: flex;
	justify-content: space-around;
	border-radius: 50px;
	height: 25px;
	width: 30px;

	position: relative;
	padding: 2.5px;
}
.moon,.sun{
	height: 20px;
	display: flex;
}
/* end dark mode css */

.body{
    /*border: 1px solid red;*/	
	height: auto;
}
.scrollspy{
	/* border: 1px solid black; */
	padding: 0px 20px 0px 20px;
	background: none;
	width: 75%;
}
.carousel_div{
	/* border: 1px solid black; */
	height: auto;
	padding: 0px 20px 0px 20px;
}

#carousel1 img{
	opacity: 0.9;
}

#carousel1 p{
	border-radius: 15px;
	font-weight: 300;
	font-size: 12px;
	color:  #FAFAFA;
	background-color:#404040;
	padding: 10px;
	text-shadow: rgba(0,0,0,0.5) 0 0 10px;
}

#carousel2 img{
	opacity: 1;
}

#carousel2 p{
	font-weight: 300;
	font-size: 12px;
	color: #FAFAFA;
	background-color:none;
	padding: 8px;
	border-radius: 10px;
}

#whiteback p{
	font-weight: 300;
	font-size: 12px;
	color: black;
	background-color:none;
	padding: 8px;
	border-radius: 10px;
}

#carousel2-1 img{
	opacity: 1;
}

#carousel2-1 p{
	font-weight: 300;
	font-size: 12px;
	color: black;
	background-color:#FAFAFA;
	padding: 5px;
	border-radius: 10px;
}

#carousel3 img{
	opacity: 1;
}

#carousel3 p{
	font-weight: 300;
	font-size: 12px;
	color:  #FAFAFA;
	background-color:#303030;
	padding: 3px;
	border-radius: 10px;
	width: auto;
	margin: 0px;
}
.d-md-block{
	width: auto;

}

.jumbotron-fluid{
	background: none;
	margin: 0px;
	padding: 50px 0px 20px 0px;
}
.jumbotron-fluid1{
	background: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}
.display-4{
	background: none;
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 5px;
}
.aboutme p{
	width: 75%;
}
.lead{
	background: none;
	font-size: 12px;
	font-weight: 300;
}
.siteFooter{
	padding-top: 50px;
	font-size: 10px;
}
.education_div{
	/* border: 1px solid black; */
	height: auto;
	width: 100%;
	padding: 10px 20px 25px 25px;
}
.education_div img{
	border-radius: 25%;
}

.media{
	width: 75%;
}
.media-body h5{
	color: black ;
	font-size: 14px;
	font-weight: 300;
}
.media-body p{
	color: black;
	font-size: 11.5px;
	font-weight: 300;
	margin: 0px;
}

.aboutme{
	font-size: 12px;
	padding-left: 20px;
	font-weight: 300;
}

.space_row_1{
	height: 100px;
}

.space_row_2{
	height: 20px;
}

.container{
	padding: 0px;
}

.samples{
	font-size: 12px;
	margin-left: 5px;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
  background-color: transparent;
  min-width: 250px;
  height: 250px;
  float: left;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card img{
	height: 250px;
	width: 250px;
}
.interest_container{
	width: 100%;
	height: auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back{
  background-color: Grey;
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
 }
.flip-card-back h1{
  font-size: 14px;
 }
.flip-card-back p{
  font-size: 11px;
 }
.project_footer{
	padding-left: 20px;
}
.project_footer p{
	font-size: 10px;
}

a:link, a:visited, a:visited:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  color       : black;
  text-decoration: none;
}

a:hover, a:visited:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  color       : peru;
  text-decoration: none;
}

